/* Base styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('images/image.jpg');
    background-size: cover;
    background-attachment: fixed;
    color: #000;
    display: flex;
    flex-direction: column;
    height: 100vh; 
    overflow: hidden; 
}

header {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
}

nav {
    margin: 20px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
    transition: color 0.3s;
}

nav a.active {
    color: #ffdd57; 
}

nav a:hover {
    color: #ffdd57;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

footer p {
    margin: 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 40px; 
    overflow: hidden;
}

.content-section {
    display: none;
    width: 100%; 
    height: calc(100vh - 120px);
    overflow-y: auto;
    margin-top: 60px; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-section.active {
    display: flex;
    background-color: #f0f0f0a6;
}

/* Responsive Design for Base Styles */
@media only screen and (max-width: 768px) {
    header {
        padding: 8px 0;
        font-size: 0.9em;
    }

    nav {
        margin: 15px 0;
    }

    nav a {
        margin: 0 10px;
        font-size: 0.9em;
    }

    footer {
        padding: 8px 0;
        font-size: 0.9em;
    }

    main {
        padding: 50px 15px 30px;
    }

    .content-section {
        margin-top: 50px;
        height: calc(100vh - 100px);
    }
}

@media only screen and (max-width: 480px) {
    header {
        padding: 6px 0;
        font-size: 0.8em;
    }

    nav {
        margin: 10px 0;
    }

    nav a {
        margin: 0 5px;
        font-size: 0.8em;
    }

    footer {
        padding: 6px 0;
        font-size: 0.8em;
    }

    main {
        padding: 40px 10px 20px;
    }

    .content-section {
        margin-top: 40px;
        height: calc(100vh - 80px);
    }
}

/* Home section styles */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 20px;
}

.home-container h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.home-icons {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
}

.home-container .tech-icon:hover {
    transform: scale(1.1);
}

/* Responsive Design for Home Section */
@media only screen and (max-width: 768px) {
    .home-container h2 {
        font-size: 2.5em;
    }

    .home-icons {
        gap: 10px;
        justify-content: center;
    }

    .tech-icon {
        font-size: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .home-container h2 {
        font-size: 2em;
    }

    .tech-icon {
        font-size: 30px;
    }
}

/* About Me */
.about-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-image {
    width: 200px;
    height: 150px;
    border-radius: 10%;
    margin-bottom: 20px;
}

.about-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.about-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 200px;
}

.hobby-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.about-card h3 {
    font-size: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.about-card p {
    font-size: 1em;
    line-height: 1.6;
    margin: 0 10px 20px 10px;
}

/* Responsive Design for About Me Section */
@media only screen and (max-width: 768px) {
    .profile-image {
        width: 150px;
        height: 100px;
    }

    .about-grid {
        flex-direction: column;
    }

    .about-card {
        width: 100%;
    }

    .about-card h3 {
        font-size: 1.3em;
    }

    .about-card p {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 480px) {
    .profile-image {
        width: 120px;
        height: 90px;
    }

    .about-card h3 {
        font-size: 1.2em;
    }

    .about-card p {
        font-size: 0.8em;
    }
}

/* Skills */
.skills-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.skills-card {
    background-color: #ced0d1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    margin-bottom: 20px;
}

.skills-card h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}

.tech-icon {
    font-size: 50px;
    color: #000;
    transition: transform 0.3s;
}

/* Responsive Design for Skills Section */
@media only screen and (max-width: 768px) {
    .skills-card {
        width: 75%;
    }

    .skills-card h3 {
        font-size: 1.3em;
    }

    .skills-icons {
        justify-content: center; 
        gap: 10px;
    }

    .tech-icon {
        font-size: 40px;
    }
}

@media only screen and (max-width: 480px) {
    .skills-card h3 {
        font-size: 1.2em;
    }

    .skills-icons {
        justify-content: center;
        gap: 15px;
    }

    .tech-icon {
        font-size: 30px;
    }
}

/* Work experience Carousel */
.carousel {
    display: flex;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    gap: 20px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.carousel-button:hover:not(.inactive) {
    background-color: #555;
}

.carousel-button.inactive {
    background-color: #999; 
    cursor: default;
    transform: none; 
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.company-logo {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.carousel-item {
    flex: 0 0 30%; /* Make each card smaller in width */
    margin-right: 10px;
    background-color: #ced0d1;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Responsive Design for Carousel */
@media only screen and (max-width: 768px) {
    .carousel-container {
        width: 90%;
    }
    .carousel-item {
        flex: 0 0 100%; /* One item per view on mobile */
        padding: 15px;
        margin-right: 0;
    }

    .company-logo {
        width: 60px;
    }

    .carousel-button {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .carousel-item {
        flex: 0 0 100%; /* One item per view on mobile */
        padding: 15px;
        margin-right: 0;
    }

    .company-logo {
        width: 50px;
    }
}


/* Education */
.education-container {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}

.education-card {
    background-color: #ced0d1;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
    margin-bottom: 20px;
}

.education-card h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.education-details h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.college-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-height: 200px; 
    object-fit: cover; 
}

.education-details p {
    margin: 10px 0;
    font-size: 1em;
}

/* Responsive Design for Education Section */
@media only screen and (max-width: 768px) {
    .education-container {
        flex-direction: column;
        align-items: center;
    }

    .education-card {
        width: 80%;
    }

    .education-card h3 {
        font-size: 1.3em;
    }

    .education-details h4 {
        font-size: 1em;
    }

    .college-image {
        max-height: 150px;
    }

    .education-details p {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 480px) {

    .education-card h3 {
        font-size: 1.2em;
    }

    .education-details h4 {
        font-size: 0.9em;
    }

    .college-image {
        max-height: 120px;
    }

    .education-details p {
        font-size: 0.8em;
    }
}

/* Projects */
#projects.content-section.active {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between;
}

.project-card {
    width: 30%;
    height: 300px;
    perspective: 1000px;
    margin: 20px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition: transform 0.6s;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.card-front {
    background-size: cover;
    background-position: center;
}

.card-back {
    background-color: #333;
    transform: rotateY(180deg);
}

.card-back h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 1.5em;
}

.card-back p {
    flex-grow: 1;
    margin: 10px 0;
    padding: 0 10px;
}

.card-back a {
    color: white;
    font-size: 2em;
    margin-bottom: 10px;
}

.project-card:hover .card {
    transform: rotateY(180deg);
}

/* Responsive Design for Projects Section */
@media only screen and (max-width: 768px) {
    .project-card {
        width: 75%;
        height: 28%;
    }

    .card-back h3 {
        font-size: 1.3em;
    }

    .card-back p {
        font-size: 1.4em;
    }

    .card-back a {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 480px) {
    .project-card {
        width: 75%;
        height: 25%;
    }

    .card-back h3 {
        font-size: 1.3em;
        padding: 0;
    }

    .card-back p {
        font-size: 0.9em;
    }

    .card-back a {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 375px) {

    .card-back h3 {
        font-size: .8em;
        padding: 0;
    }

    .card-back p {
        font-size: 0.6em;
    }

    .card-back a {
        font-size: 1.2em;
    }
}

/* Footer */
.dialog {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 10px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.dialog p {
    margin: 0 0 10px;
}

.dialog button {
    padding: 5px 10px;
    cursor: pointer;
}

/* Responsive Design for Footer */
@media only screen and (max-width: 768px) {
    .dialog {
        bottom: 30px;
        right: 5px;
        padding: 8px;
    }

    .dialog p {
        font-size: 0.9em;
        margin: 0 0 8px;
    }

    .dialog button {
        padding: 4px 8px;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 480px) {
    .dialog {
        bottom: 20px;
        right: 5px;
        padding: 6px;
    }

    .dialog p {
        font-size: 0.8em;
        margin: 0 0 6px;
    }

    .dialog button {
        padding: 3px 6px;
        font-size: 0.8em;
    }
}